.label {
  font-size: 20px;
  font-weight: bold;
  padding-top: 2em;
  animation: label 2s linear infinite;
}

.circle {
  position: relative;
  border-radius: 50%;
  border-style: solid;
  border-color: transparent;
  border-top-color: #737373;
  box-sizing: border-box;
  animation: circleAnimation 2s linear infinite;
}

.circleAbsloute {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: absolute;
  border-radius: 50%;
  border-style: solid;
  border-color: transparent;
  border-top-color: #737373;
  box-sizing: border-box;
  animation: circleAnimationAbsloute 10s linear infinite;
}
@keyframes circleAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes circleAnimationAbsloute {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
